{
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "require": true,
    "exports": true,
    "process": true,
    "module": true,
    "inject": true,
    "moment": true,
    "R": true // ramda
  }
}
