{
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "node": true,
    "jasmine": true,
    "browser": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "require": true,
    "exports": true,
    "process": true,
    "module": true,
    "inject": true,
    "moment": true,
    "R": true, // ramda
    "THREE": true,
    "slimer": true,
    "phantom": true
  },
  "rules" : {
    "no-console": 0
  }
}
