<html ng-app="functalApp" ng-controller="FunctalCtrl">

<head>
    <title>Functal Admin ({{images.length}})</title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/base.css" rel="stylesheet" type="text/css" />
</head>

<body id="top">
    <!-- start container -->
    <div class="container ng-cloak">

        <!-- heading -->
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">Functal Admin</h1>
                <h2 class="text-center" ng-show="images" ng-bind="images.length + ' functals'"></h2>
                <h2 class="text-center" ng-show="images"><span ng-show="!isSortAsc" ng-click="sortAsc(true);" class="glyphicon glyphicon-arrow-up"></span><span ng-show="isSortAsc" ng-click="sortAsc(false);" class="glyphicon glyphicon-arrow-down"></span></h2>
                <h2 class="text-center" ng-show="!images">loading...</h2>
            </div>
        </div>

        <!-- content -->
        <div class="panel" ng-repeat="image in images | limitTo : showCount">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <img class="img-responsive" ng-src="{{cdn}}{{image.name}}" />
                </div>
                <div class="col-xs-12 text-center">
                    <button class="btn btn-primary btn-xl" ng-click="gotoTop()">top</button>
                    <button class="btn btn-info btn-xl" ng-click="showJson(image)">json</button>
                    <!-- <button class="btn btn-danger btn-xl" ng-click="delete(image)">delete</button> -->
                </div>
            </div>
        </div>

        <!-- infinite scroll -->
        <div infinite-scroll="showMore()"></div>

        <!-- end container -->
    </div>

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.13.0/ramda.min.js"></script>
    <script src="/app/app.js"></script>
    <script src="/controllers/functal.js"></script>
    <script src="/directives/infinite-scroll.js"></script>
</body>

</html>
